<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="aboutme" class="container contact-container">

                    <% if (theme.gitalk && theme.gitalk.enable) { %>
                    <%- partial('_partial/gitalk') %>
                    <% } %>

                    <% if (theme.gitment.enable) { %>
                    <%- partial('_partial/gitment') %>
                    <% } %>

                    <% if (theme.disqus.enable) { %>
                    <%- partial('_partial/disqus') %>
                    <% } %>

                    <% if (theme.livere && theme.livere.enable) { %>
                    <%- partial('_partial/livere') %>
                    <% } %>

                    <% if (theme.valine && theme.valine.enable) { %>
                    <%- partial('_partial/valine') %>
                    <% } %>

    </div>
</main>